<section>
  <header>{{post.title}}</header>
  <p>{{formatDate post.createdAt}}</p>
  <p>{{post.content}}</p>
  <p>{{post.post_author}}</p>
  <p>POST'S USER ID {{post.user_id}}</p>
  {{#if post.user_id}}
  <button>Edit</button>
  <button>Delete</button>
  {{/if}}

  {{#each post.comments as |comment|}}
  {{> comment-details}}
  {{/each}}
</section>